@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@600&display=swap');


*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    background-color: #24252A;
}



body{
    background-position: center center;
    background-size: cover;
    color: white;
    height: 100vh;
}

li, a, button {
    color: white;
    font-family: "Montserrat" sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}

.logo {
     height: 25%;
     width: 25%;
     cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: width 2s, height 4s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color:rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: width 20s, height 40s;

}

.section_1{
    width: 50%;
    padding: 40px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.section_2{
    padding-left: 100px;
}

.btn-counter{
    color: white;
    font-family: "Montserrat" sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


.grid > div {
    background-color: #ecf0f1;
    color: black;
    padding: 1em;
    
}
.grid_2 > div {
    background-color: #ecf0f1;
    color: black;
    padding: 1em;
    
}

.grid > div:hover {
    border: 5px solid #f1c40f;
    
}
.grid_2 > div:hover {
    border: 5px solid #f1c40f;
    
}



.grid {
    padding: 20px;
    display: grid;
    gap:10px; 
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
}

.grid_2 {
    padding:20px;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.element4{
    grid-column: 1/4;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;

}

.container > div > h1, h2{
    padding: 0.5em;
    display: flex;
    text-align: center;
    justify-content: center;
}
